body{
    color: aliceblue;
    background-color: black;
    overflow-x: hidden;
    /*overflow-y: hidden;*/

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    height: 100vh;
    text-transform: uppercase;
    background-image: url("Rectanglecopy.svg");
}
@font-face{
font-family: Orbitron;
src: url(assets/Orbitron-VariableFont_wght.ttf) format('truetype')
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Orbitron;
    margin: 0
}
.contenaireh1{
   
    position: relative;
    top: 2rem;
    left: 4rem;
}
.contenaireh1 p{
    color:#36B862 ;
    font-size: 10px;
}
.contenaireh1 p::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #36B862;

    display: inline-block;
    margin-right: .3rem;
    margin-bottom: .09rem
}

.section_title{
    color: rgb(255, 254, 240);

}
p{
    font-family:orbitron ;
    width: 40rem;
}
.vecture-svg{
    position: relative;
    z-index: 0;
    margin-left: 3rem;
}
#loding{
    background-color: rgb(102, 102, 103);
    height: 5px;
    width: 60%;
    position: relative;
    top: 2rem;
    left: 11rem;
}
.infolaoding{
    display: flex;
    gap: 5rem;
    position: relative;
    top:2rem;
    left: 15rem;
    
}
.infolaoding>p{
    text-align: center;
    width: 10rem;
    
}
#loding>div{
    background-color: rgb(7, 185, 7);
    height: 100%;
    width: 100%;
}
.profil{
   position: relative;
   left: -70rem;
   top: 9rem;
   z-index: 1000;
   display: flex;
   flex-direction: row;
  gap:5rem;
}
.guninformation p{
 font-size: 10px;
 font-weight: 4px;
}
.guninformation{
    position: relative;
    top: 2rem;
}
#guncadre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 35px;
    
    background:linear-gradient( rgba(19, 18, 18, 0.7),rgba(0, 0, 0, 0.6))
    
    
}



#lie_image{
   
    
}
.contenaireprofil{
    display: flex;
   
}
.gun-card{
    display: flex;
    gap: 6rem;
    
}

#go{
    display: block;
    text-decoration: none;
    background-color: green;
    color: white;
    width: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 11rem;
    height: 2rem;
    border-radius: 1rem;
}

